<%= turbo_frame_tag "new_note" do %>
  <div class="text-center mb-4">
    <%= link_to "New note", new_note_path, class: "inline-block bg-indigo-500 text-white p-2 rounded-md hover:bg-indigo-600" %>
  </div>
<% end %>